# Base de datos
DATABASE_URL=postgresql://postgres:tu_password@localhost:5432/pos_472?schema=public

# JWT
JWT_SECRET=cambia_esto_en_produccion
JWT_EXPIRES_IN=8h

# Servidor
PORT=3000
NODE_ENV=development
LOG_LEVEL=info
CORS_ORIGIN=*

# Redis (cache de feature flags)
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=cambia_esto_en_produccion
